{% extends 'base.html.j2' %}

{% block title %}
    {% if request.path == '/docg_appellations' %}
        DOCG Appellations
    {% elif request.path == '/doc_appellations' %}
        DOC Appellations
    {% elif request.path == '/tlc'%}
        Regional Comparisons
    {% else %}
        Varietis Comparisons
    {% endif %}
{% endblock %}


{% block content %}
    {% if request.path == '/docg_appellations' %}
        <h1 class="bd-title mb-0">DOCG Appellations</h1>
        <small class="text-secondary">Number of appellations: {{ count }}</small>
        <div class="form-group mt-4 mb-0">
            <input type="text" class="form-control border-0 rounded-0 border-bottom border-danger" id="filterInput" placeholder="Filter by appellation name">
        </div>
        <div class="list-group mt-4">
            {% set counter = 1 %}
            {% for appellation_name, region in appellations %}
                <a class="list-group-item border-end-0 border-start-0 rounded-0 list-group-item-action" href="{{ url_for('show_appellation', appellation_name=appellation_name) }}" data-name="{{ appellation_name }}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-nowrap" style="overflow-x: hidden; text-overflow: ellipsis; max-width: 90%;">{{ appellation_name }}</h5>
                        <span class="badge bg-danger pt-2">{{ counts[loop.index-1] }}</span>
                    </div>
                    <p class="mb-1">{{ region }}</p>
                </a>
            {% endfor %}
        </div>
    {% elif request.path == '/doc_appellations'%}
        <h1 class="bd-title mb-0">DOC Appellations</h1>
        <small class="text-secondary">Number of appellations: {{ count }}</small>
        <p>Some DOC appellations – a.k.a. <i>mixed appellations</i> – include wines from different varieties which are not directly comparable. Such DOC are splitted according to the grape variety or any other feature that allows wines to be compared fairly.</p>
        <div class="form-group mt-4 mb-0">
            <input type="text" class="form-control border-0 rounded-0 border-bottom border-danger" id="filterInput" placeholder="Filter by appellation name">
        </div>
        <div class="list-group mt-4">
            {% set counter = 1 %}
            {% for appellation_name, region in appellations %}
                <a class="list-group-item border-end-0 border-start-0 rounded-0 list-group-item-action" href="{{ url_for('show_appellation', appellation_name=appellation_name) }}" data-name="{{ appellation_name }}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-nowrap" style="overflow-x: hidden; text-overflow: ellipsis; max-width: 90%;">{{ appellation_name }}</h5>
                        <span class="badge bg-danger bg-danger pt-2">{{ counts[loop.index-1] }}</span>
                    </div>
                    <p class="mb-1">{{ region }}</p>
                </a>
            {% endfor %}
        </div>
    {% elif request.path == '/tlc'%}
        <h1 class="bd-title mb-0">Regional Comparisons</h1>
        <small class="text-secondary">Number of regional comparisons: {{ count }}</small>
        <p>Regional comparisons are not fair in the sense advocated in this website, and are provided just for the sake of completeness and only for some (smaller) regions.</p>
        <div class="form-group mt-4 mb-0">
            <input type="text" class="form-control border-0 rounded-0 border-bottom border-danger" id="filterInput" placeholder="Filter by comparison name">
        </div>
        <div class="list-group mt-4">
            {% set counter = 1 %}
            {% for appellation_name, region in appellations %}
                <a class="list-group-item border-end-0 border-start-0 rounded-0 list-group-item-action" href="{{ url_for('show_regional', regional=appellation_name) }}" data-name="{{ appellation_name }}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-nowrap" style="overflow-x: hidden; text-overflow: ellipsis; max-width: 90%;">{{ appellation_name }}</h5>
                        <span class="badge bg-danger bg-danger pt-2">{{ counts[loop.index-1] }}</span>
                    </div>
                    <p class="mb-1">{{ region }}</p>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="bd-title mb-0">Varieties Comparisons</h1>
        <small class="text-secondary">Number of varieties comparisons: {{ count }}</small>
        <p>Varieties comparisons aggregate wines from the same region and made with the same grape variety, but from different appellations. The idea is that two wines made in the same region and with the same grape variety should be fairly compared, even if not part of the same appellation.</p>
        <div class="form-group mt-4 mb-0">
            <input type="text" class="form-control border-0 rounded-0 border-bottom border-danger" id="filterInput" placeholder="Filter by variety name">
        </div>
        <div class="list-group mt-4">
            {% set counter = 1 %}
            {% for appellation_name, region in appellations %}
                <a class="list-group-item border-end-0 border-start-0 rounded-0 list-group-item-action" href="{{ url_for('show_comparison', comparison=appellation_name) }}" data-name="{{ appellation_name }}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-nowrap" style="overflow-x: hidden; text-overflow: ellipsis; max-width: 90%;">{{ appellation_name }}</h5>
                        <span class="badge bg-danger bg-danger pt-2">{{ counts[loop.index-1] }}</span>
                    </div>
                    <p class="mb-1">{{ region }}</p>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock %}