{% extends 'base.html.j2' %}

{% block title %}Home{% endblock %}

{% block content %}

<!--<div class="container d-flex justify-content-center">
     <div class="row">
      <div class="col">
        <a href="#" class="link-primary" onclick="window.location.href='/allwines'; document.getElementsByName('q')[0].value='';">All Wines</button>
      </div>
    </div> 
</div>-->
<div class="container " style="max-width:1000px">
  <p>This website aggregates and compares experts evaluations for <b>{{count}}</b> Italian wines over the years 2017-2023.
    Wines can be searched from the form or by navigating the appellations. For more information on the aggregation and
    comparison logic, keep reading.</p> 
    
  <p>You can search for an individual wine from the top search form or explore <a href="/docg_appellations">DOCG</a>, <a href="/doc_appellations">DOC</a>, <a href="/slc">Varieties comparisons</a> and <a href="/tlc">Regional comparisons</a>.</p>

  <p>You can also read about how comparisons are made by clicking <button type="button" class="btn btn-danger" onclick="showContainer1()">Here</button></p>

  <div id="hidden-container-1" style="display: none;">
    <hr class="border border-danger border-1 opacity-50">
    <h2>How the comparison works</h2>
    <p>In the world of wine publishing there are currently two main methods of comparison between wines, which we may
      refer to as:</p>
    <ol>
      <li>the Naive Score method</li>
      <li>the Yearly Comparison method</li>
    </ol>
    <h3 id="naive">The Naive Score method</h3>
    <p>The Naive Score method is used by websites like <a rel="noreferrer" target="_blank" href="https://vivino.com"
        class="is-external-link">Vivino</a>, which will be used for illustration purposes, and many others. These websites
      aggregate user scores, compute an average value, and then show it back to users. This average value is completely
      <em>naive</em>: not weighted, not scaled, not aware of potential differences between wine types or regions. As an
      example, the quite obscure <em>Private Bin Sauvignon Blanc</em> from the New Zealander producer <em>Villa Maria</em>
      and a price of 11$ gets the same average score as <em>Vignes Blanches Pouilly-Fuissé</em> from the French producer
      <em>Jules Desjourneys</em> and a price of 41$.</p>
    <p>Since both wines are made from the same grape variety they should, in some way, be comparable. On the other hand,
      we are trying to compare wines from different regions, different appellations, different target audience, etc.;
      aren't these differences relevant?</p>
    <p>According to the Naive Score method they are not: random users assign scores from a scale to a wine; such scores
      are not associated with any grading guideline nor method - so they're actually just numbers, not scores - apart from
      the fact that a higher number is associated with a better (whatever that means) wine; scores are then aggregated and
      computed to give an average score.</p>
    <p>A score built in this way does not have any descriptive meaning, nor add any meaningful information to the wine it
      is associated to.</p>
    <h3>The yearly comparison method</h3>
    <p>Predating the time of wine score aggregators, there was the time of wine publications. Wine publications are often
      associated with yearly <em>wine guides</em>, where a selection of wines marketed in a certain year is listed and
      scored by an editorial board of experts, not just random users. In the light of a <em>fair</em> wines comparison,
      wine guides offer some major improvements over wine aggregators, like explaining how to interpret a score and
      ranking wines by type, appellation, region, etc.</p>
    <p>However, most of the comparisons found in wine guides are limited to wines marketed in the same year, which lessens
      the guide convenience. Imagine you want to buy a wine from an appellation you don't know well and are looking at a
      wine guide for insight. You find something interesting and start searching for sellers to buy the wine, but you
      don't find the vintage reviewed by the guide you consulted. At this point you can:</p>
    <ol>
      <li>get other guides until you find one that has the right wine reviewed;</li>
      <li>hope that the vintage you found will be as good as the one you read about in the guide and buy it blindly;
      </li>
      <li>(assuming they are human) ask the wine seller</li>
    </ol>
    <p>In the second scenario a time series could reduce the impact of luck on the user's choice. A time series would give
      an overview of wines performances over the years, so that the user may get to a better understanding on what to
      expect from its new vintage. If the time series shows that a wine have always had excellent performances, chances
      that the new vintage will be good increase. If, on the other hand, the time series shows that a specific wine has
      had mostly average result and a single excellent vintage, than the user should be aware that he is trying her luck
      by buying it.</p>
    <p>The database shown in this website was made with the goal of overcoming this shortcoming of the Yearly Comparison
      method, giving users access to a range of information that are usually hidden if you look at a single year wine
      guide.</p>
    <p>Even more details? <button type="button" class="btn btn-danger" onclick="showContainer2()">Read More</button>
    </p>
  </div>
  <div id="hidden-container-2" style="display: none;">
    <hr class="border border-danger border-1 opacity-50">
    <h2>Relative Scores</h2>
    <p>In a <em>AGReATWine</em> wines are classified and ranked by a <strong>Relative Score (RS)</strong> assigned to each wine, computed from <strong>evalutations</strong> based on <strong>grades</strong> from selected expert publications.</p>
    <h2> Wine Grades</h2>
    <p>A wine grade is a number from a predefined range assigned to a wine and representing its quality according to the reviewer. Robert Parker's reviewers assign grades in a range from 0 to 100, where 100 describes the best possible outcome of a review. In <em>AGReATWine</em> a subset of experts publications (Robert Parker's Wine Advocate is probably the best known example of such a publication) are considered sources for grades.</p>
    <h3>Grades, classes and evaluations</h3>
    <p>To qualify as a source for grades a wine publication must meet the following criterion: allow for grades to be distributed over five classes according to a rule provided by the publication itself. So, for example, assuming that a publication grades wine on a 0-100 range, a possible, made-up classification could be:</p>
    <ul>
      <li>E (a grade in the 0-50 range): a wine with at least one major flaw</li>
      <li>D (a grade in the 51-75 range): a wine with no major flaws and no strengths</li>
      <li>C (a grade in the 76-85 range): a wine with at least one major strength</li>
      <li>B (a grade in the 86-92 range): a wine with at least two major strengths</li>
      <li>A (a grade in the 93-100 range): a wine with at least three major strengths</li>
    </ul>
    <p>It does not really matter how a specific publication define "strengths" or "flaws" as long as a definition is
      provided or can be inferred.</p>
    <p>A given (by the reviewer) classification is needed to aggregate grades on for two reasons: (i) some reviewers
      only disclose the wines class and not their grade and (ii) estimating the grade from the class is easier than
      estimating the class from the grade.</p>
    <p>Assuming the above classification, a wine with a grade of 78 falls in the "C" class and gets an <strong>evaluation</strong> of 3/5. In <em>AGReATWine</em> evaluations are always styled with a star after the digit.</p>
    <h3>Sources selection</h3>
    <p>Not all sources who qualify (i.e. offer a classification of grades) are used in <em>AGReATWine</em>: some are excluded for the lack of resources needed to scrape them from their original medium (website, mobile app, traditional publication, etc.); some others cannot be used because their classification is inconsistent with the others and turn out to be difficult/impossible to aggregate. Details about source selection are provided where the selection happens, which is usually at the country level.</p>
    <h2>Evaluations and weighted averages</h2>
    <p>Let's assume we have the following evaluations for a wine called <em>Wine A</em> and we want to compute it's <strong>Relative Score</strong>:</p>
        <table class="table table-responsive table-striped" style="max-width:400px">
          <thead>
            <tr>
              <th><em>Wine A</em></th>
              <th style="text-align: right;">Source A</th>
              <th style="text-align: right;">Source B</th>
              <th style="text-align: right;">Source C</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <td>2019</td>
              <td style="text-align: right;">3</td>
              <td style="text-align: right;">4</td>
              <td style="text-align: right;">3</td>
            </tr>
            <tr>
              <td>2020</td>
              <td style="text-align: right;">3</td>
              <td style="text-align: right;">3</td>
              <td style="text-align: right;">3</td>
            </tr>
            <tr>
              <td>2021</td>
              <td style="text-align: right;">4</td>
              <td style="text-align: right;">3</td>
              <td style="text-align: right;">3</td>
            </tr>
          </tbody>
        </table>
      <p>As a first step, we need to get the average of the evaluations for each vintage year and the average of these
        averages, which we'll call <strong>raw average</strong>:</p>
        <table class="table table-responsive table-striped" style="max-width:400px">
          <thead>
            <tr>
              <th><em>Wine A</em></th>
              <th style="text-align: right;">Source A</th>
              <th style="text-align: right;">Source B</th>
              <th style="text-align: right;">Source C</th>
              <th style="text-align: right;">Avg</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <td>2019</td>
              <td style="text-align: right;">3</td>
              <td style="text-align: right;">4</td>
              <td style="text-align: right;">3</td>
              <td style="text-align: right;">3.33</td>
            </tr>
            <tr>
              <td>2020</td>
              <td style="text-align: right;">3</td>
              <td style="text-align: right;">3</td>
              <td style="text-align: right;">3</td>
              <td style="text-align: right;">3</td>
            </tr>
            <tr>
              <td>2021</td>
              <td style="text-align: right;">4</td>
              <td style="text-align: right;">3</td>
              <td style="text-align: right;">3</td>
              <td style="text-align: right;">3.33</td>
            </tr>
            <tr>
              <td colspan="4"><strong>RawAvg</strong></td>
              <td style="text-align: right;"><strong>3.22</strong></td>
            </tr>
          </tbody>
        </table>
      <p>This value should not be used to compare or rank wines as it has many limitations. Imagine the following
        scenario involving Wine B and Wine C</p>
        <div class="container">
          <div class="row">
            <div class="col">
              <table class="table table-responsive table-striped" style="max-width:400px">
                <thead>
                  <tr>
                    <th><em>Wine B</em></th>
                    <th style="text-align: right;">Source A</th>
                    <th style="text-align: right;">Source B</th>
                    <th style="text-align: right;">Source C</th>
                    <th style="text-align: right;">Avg</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <td>2019</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                  </tr>
                  <tr>
                    <td>2019</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                  </tr>
                  <tr>
                    <td>2019</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                  </tr>
                  <tr>
                    <td>2020</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                    <td style="text-align: right;">3</td>
                  </tr>
                  <tr>
                    <td>2021</td>
                    <td style="text-align: right;">4</td>
                    <td style="text-align: right;">4</td>
                    <td style="text-align: right;">4</td>
                    <td style="text-align: right;">4</td>
                  </tr>
                  <tr>
                    <td colspan="4"><strong>RawAvg</strong></td>
                    <td style="text-align: right;"><strong>3.2</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
          <div class="col">
            <table class="table table-responsive table-striped" style="max-width:400px">
              <thead>
                <tr>
                  <th><em>Wine C</em></th>
                  <th style="text-align: right;">Source A</th>
                  <th style="text-align: right;">Source B</th>
                  <th style="text-align: right;">Source C</th>
                  <th style="text-align: right;">Avg</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <td>2019</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">na</td>
                </tr>
                <tr>
                  <td>2019</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">na</td>
                </tr>
                <tr>
                  <td>2019</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">na</td>
                </tr>
                <tr>
                  <td>2020</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">na</td>
                </tr>
                <tr>
                  <td>2021</td>
                  <td style="text-align: right;">4</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">-</td>
                  <td style="text-align: right;">4</td>
                </tr>
                <tr>
                  <td colspan="4"><strong>RawAvg</strong></td>
                  <td style="text-align: right;"><strong>4</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <p>Wine C gets a better raw average because we lack information on many of its vintages, which is not the outcome
        we would expect. In a slightly different scenario where <em>Wine A</em> has an evaluation of 3 for all the five
        years, while <em>Wine C</em> has an evaluation of 3 for year 2021 and no evaluation for other years; we would
        still not get the expected outcome, as <em>Wine C</em> would get the same raw average of <em>Wine B</em>.</p>
      <p>Lack of information about a wine may have several different causes:</p>
      <ul>
        <li>the wine is not marketed every year;</li>
        <li>the missing vintages were so bad that the producer decided not to send them out to wine publications;</li>
        <li>the wine has just entered the market for the first time;</li>
        <li>etc.</li>
      </ul>
      <p>Whatever the reason, we should take the lack of information into account while evaluating a wine. The general
        assumption made here follows the principle that no information is worse than bad information (in this case, no
        review is worse than a bad review) and so the lack of information gets weighted negatively while evaluating a
        wine.</p>
      <p>To express this principle mathematically, the <strong>Relative Score</strong> computation uses a more complex
        formula than the raw average. The formula can be splitted in three parts:</p>
      <ol>
        <li>each vintage year average evaluation is summed up with the number of reviews in each class for that same
          year, multiplied by a different constant for each class.</li>
        <li>this sum of sums is averaged and weighted over the sum of number of reviews for each class multiplied by the
          highest possible evaluation value (i.e.: 5);</li>
        <li>part three will be described after explaining the first two.</li>
      </ol>
      <p>These first two steps can be written in a more formal fashion in the following way:</p>
      $$
      \frac{\sum_{i=1}^{avg} x_i + (ev_5 \times 1000) + (ev_4 \times 333.3) + (ev_3 \times 111.1) + (ev_2 \times 37)}{(5\times (ev_5 \times 1000) + 5 \times (ev_4 \times 333.3) +  5  \times (ev_3 \times 111.1) + 5 \times (ev_2 \times 37))\times 100} = wa
      $$
      <p>where \(avg\) is the number of yearly average evaluations a wine has; \(ev_n\) is the number of evaluations of class \(_n\) in the same year and \(wa\) is the resulting weighted average of the wine.</p>
      <p>The constants (1000, 333.3, 111.1 and 37) have been chosen so that a wine needs three evaluations of the lesser
        classes to a single evaluation of the greater class. As an example, a wine with an evaluation of 3 for 2019,
        2020, 2021, will get the same relative score of a wine with a single evaluation of 4 in any year and no other
        evaluations. If we apply this formula to the example illustrated by the tables above, <em>Wine B</em> gets a
        <strong>Relative Score</strong> of "2.36" while <em>Wine C</em> gets "1". This is consistent with our intuition
        that <em>Wine B</em> should get a better evaluation since it has more reviews and the same maximum evaluation. A
        similarly more intuitive result would be provided in other scenarios where the lack of information skewes the
        raw average calculation.</p>
      <h2>The Relative Score</h2>
      <p>Le'ts go back to part 3 of the <strong>Relative Score</strong> computation:</p>
      <ol start="3">
        <li>the weighted average is expressed in a 0-100 range, where 100 stands for the best weighted average obtained
          by a wine in the same category as the current wine.</li>
      </ol>
      <p>We take the weighted average and transform it to a percentage, where 100 stands for the best weighted average. A more formal version:</p>
      $$
      \frac{wa\times 5}{\underset{wa\in n}{max} f(wa)\times 100} = RS
      $$
      <p>where \(n\) is the set of all weighted averages of the wines we are ranking. The outcome of this computation is the <strong>Relative Score</strong>, which tells how a wine performs with respect of other wines of the same category, or more specifically with respect to the <strong>best</strong> wine in the same cateogory.</p>
      <p>More documentation will be added in future releases.</p>
  </div>
</div>


  <script>
    function showContainer1() {
      document.getElementById("hidden-container-1").style.display = "block";
    }
    function showContainer2() {
      document.getElementById("hidden-container-2").style.display = "block";
    }
  </script>
  <script
    type="text/javascript"
    async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
  </script>
  {% endblock %}