{% extends 'base.html.j2' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<!--<div class="container d-flex justify-content-center">
     <div class="row">
      <div class="col">
        <a href="#" class="link-primary" onclick="window.location.href='/allwines'; document.getElementsByName('q')[0].value='';">All Wines</button>
      </div>
    </div> 
</div>-->
{{body}}
{% endblock %}

